    
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Monoton);


html,body{
  width: 100%;
  overflow-x: hidden;
}
.carousel-control{
  position:absolute;
  width: 5%;

}

#myCarousel .btn-box .btn-black{
  background-color: #05141F;
  font-weight: bold; 
  width: 100px;
  margin-left: 10px;
  color: white;
  
}
#myCarousel .btn-box .btn-black:hover{
   position: relative ; 
   transition: all 0.5s;
   background-color:#37434b ;
   opacity: 0.7;
   color: #ddd;



}
#myCarousel .btn-box .btn-default {
  font-weight: bold; 
  width: 100px
}
#myCarousel .btn-box{ 
  border-radius: 0%;
  position: absolute;
  /* z-index: 999; */
  background-color: transparent;
 
}

.navbar-fixed-top{
  position: absolute;
}



.navbar {
  height: 100px;
    margin-bottom: 0;
    background-color:transparent;
    /* background-color:red; */
    border: 0;
    /* font-size: 11px !important; */
    letter-spacing: 2px;
    /* opacity: 0.5; */
  }
  
  #footer1 .dropup ul li a:hover{
    background-color: #010E18;

  }
  #footer1 .dropup ul li a{
    color: white;
    position: relative;
  }
  #footer1 .dropup ul{
    bottom: 50px;
    padding: 0;
    border-radius: 0;
    border: solid 1px #37434B;
    background-color: #010E18;

  }
  /* Add a gray color to all navbar links */
  .navbar li a, .navbar-brand 
  {
    /* width: 120px; */
    color: white !important;
    font-weight: bold;
    font-size: 16px;
    padding-top: 0px;
    padding-left: 30px;

  }
  .navbar-left .dropdown-menu{
    min-width: 81px !important;
  }
  .navbar li ul li a{
    
    width: 0px;
  }
  .navbar li ul li a {
    width: 80px;
    padding-left: 20px;
  }
  .navbar-left>.dropdown li{
    /* width: 100px; */
    /* border-radius: 50%; */
    text-align: center;
  }
  .navbar-left>.dropdown{
    margin-left: 1000px;
    text-align: center
  }
  .navbar-brand img{
    /* background-color: #000; */
    /* justify-content: center; */
    width: 100px;
    margin-left:900px ;
    margin-top: 40px;
    
  }
  
  /* On hover, the links will turn white */
  .navbar-nav li a:hover {
    color: #fff 
    
  }
  
  /* The active link */
  .navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
  }
  
  /* Remove border color from the collapsible button */
  .navbar-default .navbar-toggle {
    border-color: transparent;
    
  }
  
  /* Dropdown */
  nav .open .dropdown-toggle {
    color: #fff ;
    background-color: transparent !important;
  }
  
  /* Dropdown links */
  nav .dropdown-menu li a {
    color: #000 !important;
  }
  
  /* On hover, the dropdown links will turn red */
  nav  .dropdown-menu li a:hover {
    background-color: black !important;
    color: white !important;
  }

body{
    font-family: 'Noto Sans KR' , Arial , sans-serif , Hevetica;
}
ul,ol{list-style: none;}

#news .col-sm-4 a:link { text-decoration: none; color: black;
font-size: 18px;
}
#news a:visited { color:black; }
#news a:hover { color:black; }
#news a:active { color:black; }

#collapse .content a:link { text-decoration: none; color: #1f1c1c;
}
#collapse .content  a:visited { color:#1f1c1c; }
#collapse .content  a:hover { color:#1f1c1c; }
#collapse .content  a:active { color:#1f1c1c; }


#footer1 .col-sm-3 a:link { text-decoration: none; color: white;
}
#footer1 .col-sm-3  a:visited { color:white; }
#footer1 .col-sm-3  a:hover { color:white; }
#footer1 .col-sm-3  a:active { color:white; }

#footer1 .col-sm-3:nth-child(2) a:link { text-decoration: none; color: gray;
}
#footer1 .col-sm-3:nth-child(2)  a:visited { color:gray; }
#footer1 .col-sm-3:nth-child(2)  a:hover { color:gray; }
#footer1 .col-sm-3:nth-child(2)  a:active { color:gray; }

#footer2 .col-sm-6 ul a:link { text-decoration: none; color: gray;
}
#footer2 .col-sm-6 ul a:visited { color:gray; }
#footer2 .col-sm-6 ul a:hover { color:gray; }
#footer2 .col-sm-6 ul a:active { color:gray; }

#footer2 .col-sm-10 li{
    font-size: 13px;
}

*{  
    padding: 0;
    margin:0;
}
#myCarousel .carousel-inner .item img:nth-child(1){display: block;}
#myCarousel .carousel-inner .item img:nth-child(2){display: none;}

#myCarousel, .carousel-inner{
    height: 950px;;
}
.carousel-caption{
    position: absolute;
    left:30px;
    bottom:250px;
    text-align: left;
}
#bestkia h3{
font-size: 50px 
}
#bestkia .box{
padding: 20px;
border: 1px solid #ddd;
border-radius: 10px;
}
#bestkia .nav-tabs {
  display: flex;
  
margin-bottom: 30px;
/* background-color: bl; */
}
#bestkia .nav-tabs{
  justify-content: center;
}

#bestkia .nav-tabs li a{
  font-weight: bold;
  background-color: white;
  color: #aaa;
  border: none;
  font-size: 20px;
  

}
#bestkia .nav-tabs li.active a{
/* background-color: red; */
color:#000;
border-radius: 0;
border: none;
border-bottom: 1px solid   black;
}
#bestkia .box .col-sm-8 {
   text-align: right;
}

#bestkia .box .price .rest{
    float: right;
    font-size:15px;
    margin-top: 15px
    ;
}

#bestkia .box .price{
    font-size: 30px;
 text-align:right;
}

#bestkia .box .btn{
    padding: 10px;
    margin: 10px;
    font-size: 15px; 
    font-weight: bold;
    border-radius: 0;
    margin-top: 10px;
    
}
  
#bestkia .box .btn-black{
    background-color: black;
;
    color: white;
}
#bestkia .box .btn-black:hover{
    position: relative ; 
    transition: all 0.5s;
    background-color:#37434b ;
    /* transform: translateX(50px); */
    z-index: 1;
    opacity: 0.7;
    color: #ddd;
  
}
.modal-header{
  padding: 10px;
  margin: 0;
  text-align: center !important;

}

#bestkia .box .col-sm-8 .btn {
   padding: 0px; 
   margin: 0; 
  position: relative;
  background-color: transparent;
  border: none;
}
.modal-body ul{
  padding-left: 30px;
  text-align: left;
  line-height: 30px;
  list-style: circle;
}
.modal-content{
  position: absolute;
  top: 250px;
  
}

#news img{
margin-left: 0;
}
#news .box{
margin-right: 0;
}


.btn-box{
text-align: center;
margin-top: 30px;
}
.sort{
margin: 30px;
text-align: center;
font-size: 12px;
}
#etc .box img{
width: 25px;
}
#etc .box{
padding: 15px;
margin: 10px;
font-size: 15px;

}
#etc .col-sm-3 a{
    color: black;
    text-decoration: none;
}
#etc .box div{
   color: white;
    text-align: right;
    
}
#etc .box h4{
font-size: 17px;
font-weight: bold;
}
#etc .box img:nth-child(1){
display: inline;
}
#etc .box img:nth-child(2){
display: none
}
#etc .box:hover{
    background-color: #05141F;
    color: #eee;
    text-decoration:none;
    transition: all 0.5s;
    
}
#etc .box:hover div{
    transition: all 1s;
    
}

#news .col-sm-6{
float:right;
height: 550px;
}
#news .col-sm-6:nth-child(2){
background:  #697278;

}
#news .col-sm-4{
padding-top: 50px;
padding-bottom: 150px;
}

#footer1 .row:nth-child(1){
    margin-bottom: 30px;
}
#footer1{
padding-top: 50px;
padding-bottom: 50px;
padding-left: 50px;
padding-right: 50px;
background-color:#05141F;
color:#eee;
}
#bestkia .box .col-sm-4
,.col-sm-8
{
margin-top: 15px;
}

#news h3{
font-size: 40px;
padding-bottom: 30px;
}

#news .box{
padding: 40px;
margin-top: 20px;
}

#news h5{
font-size:18px;
margin-bottom: 20px;
font-weight: bold;
color: #eee;
}
#news .box h4{
font-size: 25px;
color: #eee;
margin-top: 30px;
margin-bottom: 30px;
font-weight: bold;
} 
#news .box p{
font-size: 15px;
color: #eee;
line-height: 25px;
}
#news .box .btn-default{
    position: absolute;
    bottom: 0;
    margin-bottom:30px ;
}
.badge{
    float: right;
}
#footer1 .col-sm-3 li{
    padding-top: 8px;
}



#footer1 .col-sm-6 li{
   display: inline;
    padding: 10px;
    
}
#footer1 .col-sm-6 ul{
    position: absolute;
    right:0;
}
#footer1 .col-sm-6 li a{
    padding: 5px;
}
#footer2{
    color: #aaa;
    background-color: #010E18;
}
#footer1 .dropdown-menu{
    position: absolute;
    right:0;
    bottom: 0;
}
#footer2 .col-sm-6{
    float: right;  
}
#footer2 .col-sm-6 li{
    float:right
}
#news .col-sm-6 img:nth-child(1){display: block;}
#news .col-sm-6 img:nth-child(2){display: none;}

#news .col-sm-6{
    padding: 0;

}


  #collapse{
    display:none;
  }

  #footer2{

    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  #footer2 .row .col-sm-6 li{
    padding-left: 30px;
  }
  #footer2 .row .col-sm-2 ul{
    margin-top:50px;
  }
  #footer1 #sb{
    position: relative;
    /* background-color: red; */
    width: 450px;
    text-align: right;
    top:310px;
    left:130px ;
    color: #eee;

}

#footer1 .dropup { 
    text-align: left;
    /* marign:20px; */
    font-size: 15px;
    font-weight: bold;
    color: white;
     background-color: #010E18;
    position: absolute;
    width: 250px;
    right: 50px;
    top:295px;
    height: 50px;
    padding: 10px;
    
}
#footer1 .dropup .btn{
    text-align: left;
    background-color: #010E18;
    border: #05141F;
    color: #eee;
    width: 100%;
    /* height: ; */
}
#footer1 .dropup .caret{
    float: right;
    padding-top: 11px;

}
#footer2 .container .row:nth-child(2){
    display: none;
}


  /* ----------미디어스크린------------------------------------ */
@media screen and (max-width:767px) {
  body{
    scrollbar-width: none;
  }
  .carousel-control{
    position:absolute;
    width: 10%;
  
  }


  #bestkia .box .col-sm-4, .col-sm-8{
    display: inline-block;
  }
  #bestkia .box .col-sm-8{
    float: right;
  }
  
  #myCarousel, .carousel-inner{
    height:100% ;
  }
  .carousel-caption{
    left: 20px;
    bottom: 100px;
    
  }
 
  
  #footer2{
    background-color: #05141F;
  }

#footer2 .col-sm-2{
  display: none;
}

    #myCarousel .carousel-inner .item img:nth-child(2){display: block;}
    #myCarousel .carousel-inner .item img:nth-child(1){display: none;}
    
#news .col-sm-6:nth-child(1){
    margin: 0 !important;
    height: 400px;
}
#news .col-sm-6:nth-child(2){
    margin: 0 !important;
    height: 280px;
    width: 100%;
}                 

#news .col-sm-6 img:nth-child(1){display:none}
#news .col-sm-6 img:nth-child(2){display:block}

#footer1 .col-sm-6{
    display:none
}
#footer1 .col-sm-3:nth-child(2){
    display: none;
}
    
#collapse{
  /* width: 250px; */
  /* right: 50px; */
  /* top:295px; */
  /* height: 50px; */
  /* padding: 10px; */
  
    display: block;
}
#collapse .collapsible {

    background-color: #05141F;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-top: inset 1px #aaa; 
    border-left: none;
    border-right: none;
    border-bottom: outset  1px #aaa; 
    text-align: left;
    padding-left: 50px;
    font-weight: bold;
    outline: none;
    font-size: 15px;
  }
  
  #collapse .active, #collapse .collapsible:hover {
    background-color: #05141F;
  }
  
  #collapse.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  #collapse .glyphicon-chevron-up{
    display: none;

  }
  #collapse .active .glyphicon-chevron-down{
    display: none;
  }
  #collapse .active .glyphicon-chevron-up{
    display: inline;
  }


 
  #collapse .content ul li{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #collapse .content {
    line-height: 20px;
    padding: 0px 50px;
    max-height: 0;
    overflow: hidden;
    transition:  0.2s ease-out;
    background-color: #eee;
    color: #05141F;
    font-size: 15px;
    /* margin-bottom: 30px; */
    
  }
  #news .box p{
    display: none;
  }
  #news .col-sm-4:nth-child(1){
    padding-top: 60px;
    padding-bottom: 30px;
    }
  #news .col-sm-4:nth-child(2){
    padding-top: 30px;
    padding-bottom: 30px;
    }
  #news .col-sm-4:nth-child(3){
    padding-top: 30px;
    padding-bottom: 100px;
    }
    .navbar-brand img{
      /* z-index: 0; */
      position: absolute;
      /* background-color: red; */
      margin-left:0px;
      margin-top:0px;
      /* padding: 0; */
    }
    .nav .dropdown{
      display: none;
      color: black
    }
    
    #myNavbar .nav ul li a {
      color:black ;
      margin: 30px;
    }
   
   
    #myNavbar {
      /* position: relative; */
      z-index:999;
      /* height:100%; */
      /* padding: 50px; */
      /* overflow-block: auto; */
    /* height: 200%; */
      /* width: 100%; */
      /* margin-top: -50px; */
      /* margin-bottom: ; */
      /* scrollbar-ta: none; */
      /* color: black; */
      background-color: white
      /* z-index:2; */
    }
    .navbar li a, .navbar-brand {
      color: #000 !important;
      /* padding: 50px; */
      /* margin: 50px; */
    
      
    }
    .navbar-default .navbar-toggle .icon-bar{
      background-color: white
    }
    .navbar-default .navbar-toggle:hover{
      background-color: transparent;
    }
    .navbar-default .navbar-toggle:active{
      background-color: transparent;
    }
    .navbar-default .navbar-toggle:focus{
      background-color: transparent;
    }

    .navbar-nav li a:hover {
      color: #aaa !important;
      
    }
    #footer2 .row {
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      justify-content: center;
    }

    #bestkia .box{
      margin-top: 20px;
    }
    #footer2 .row .col-sm-6 ul :nth-child(6){
      /* background-color: red; */
      margin-right: 40px;
    }
    #footer2 .row .col-sm-6 ul :nth-child(5){
      /* background-color: red; */
      margin-right: 60px;
    }

    #footer2 .row .col-sm-6 ul{
      
      width: 500px;
      position: relative;
      line-height:40px;
      display: flex;
      flex-wrap: wrap-reverse !important;
      flex-direction: row-reverse !important;
      margin-right: 130px;
      /* text-align: left?; */
      /* align-self: center !important; */
    }
    /* #footer2 .row .col-sm-6{
    
      
    justify-content: center;
    
  } */
  #left{
    
    display: flex;
    /* padding-right: 100px; */
  }

  #bestkia .nav-tabs li a{
     
    font-size: 3vw;
    
  
  }
  *{
    padding: 0;
    margin: 0;
  }
  #myNavbar .navbar-nav li:hover a{
    background-color: #05141F;
    color: white;
  }
    }
   

      
      
      
      
   
